<div ng-init="init()"></div>


<div class="jumbotron" ng-if="isAuthenticated()">
  <h1>Welcome!</h1>
  <p class="lead">
    Successfully signed in!
  </p>
  <p>
  <a class="btn btn-lg btn-danger" ng-click="logout();">Logout</a>
  </p>
</div>


<div class="jumbotron" ng-if="!isAuthenticated()">
  <h1>Welcome!</h1>
  <p class="lead">
    Please sign-in to continue
  </p>
  <p>
    <a class="btn btn-lg btn-success" ng-href="#/login">Login</a>
    <a class="btn btn-lg btn-warning" ng-href="#/login">Register</a>
  </p>
</div>
